<h1>Frequently Asked Questions</h1>
 
<table>
  <tr>
    <th>Question</th>
    <th>Answer</th>
    <th colspan="2"></th>
  </tr>
 
  <% @faqs.each do |faq| %>
    <tr>
      <td><%= faq.question %></td>
      <td><%= faq.answer %></td>
      <td><%= link_to 'Show', faq_path(faq) %></td>
      <td><%= link_to 'Edit', edit_faq_path(faq) %></td>
      <td><%= link_to 'Destroy', faq_path(faq),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
